/* game board table */
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}
#column-top td{
  background: white;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  border-radius:25px;
  width: 80%;
  height: 80%;
  position: relative;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */
.player-one {
  background-color: green;
  animation:mytoken 1.5s;
}
.player-two { 
  background-color: black;
  animation:mytoken 1.5s;
}
@keyframes mytoken{
  from {top: -333px;} 
  to{top:0px;} 
}
#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

